.titulo-navigation{
    text-decoration: none;
}

.links-navigation{
    text-decoration: none;
}

.boton-navigation{
    margin-top: 2rem;
    margin-right: 2rem;

}

h1{
    text-decoration: none;
}